USE [master]
GO
/****** Object:  Database [PHONESTORE]    Script Date: 13/12/2021 9:10:22 PM ******/
CREATE DATABASE [PHONESTORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PHONESTORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PHONESTORE.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PHONESTORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PHONESTORE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PHONESTORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PHONESTORE]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 13/12/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMERID] [int] NOT NULL,
	[STAFFID] [int] NOT NULL,
	[CREATEDAT] [datetime] NOT NULL,
 CONSTRAINT [PK_BILL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BILLDETAIL]    Script Date: 13/12/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLDETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BILLID] [int] NOT NULL,
	[PRODUCTID] [int] NOT NULL,
	[FNPRICE] [money] NOT NULL,
 CONSTRAINT [PK_BILLDETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 13/12/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID] [nchar](6) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BRANCH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CART]    Script Date: 13/12/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PHONE] [nvarchar](15) NOT NULL,
	[PRODUCTID] [int] NOT NULL,
	[AMOUNT] [int] NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 13/12/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FNAME] [nvarchar](50) NOT NULL,
	[LNAME] [nvarchar](50) NOT NULL,
	[BIRTHDAY] [date] NULL,
	[GEN] [bit] NULL,
	[ADDRESS] [nvarchar](200) NOT NULL,
	[PHONE] [nvarchar](15) NOT NULL,
	[PASSWORD] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPART]    Script Date: 13/12/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPART](
	[ID] [nchar](6) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Depart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 13/12/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[IMAGE] [nvarchar](500) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[PRICE] [money] NOT NULL,
	[INVENTORYNUM] [int] NOT NULL,
	[BRANDID] [nchar](6) NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SALE]    Script Date: 13/12/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTID] [int] NOT NULL,
	[DOWNPERCENT] [int] NOT NULL,
 CONSTRAINT [PK_SALE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 13/12/2021 9:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FNAME] [nvarchar](50) NOT NULL,
	[LNAME] [nvarchar](50) NOT NULL,
	[BIRTHDAY] [date] NOT NULL,
	[GEN] [bit] NOT NULL,
	[ADDRESS] [nvarchar](200) NOT NULL,
	[PHONE] [nvarchar](15) NOT NULL,
	[PASSWORD] [nvarchar](200) NOT NULL,
	[DEPARTID] [nchar](6) NOT NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BRAND] ([ID], [NAME]) VALUES (N'AP    ', N'APPLE')
INSERT [dbo].[BRAND] ([ID], [NAME]) VALUES (N'CP    ', N'COOLPAD')
INSERT [dbo].[BRAND] ([ID], [NAME]) VALUES (N'HT    ', N'HTC')
SET IDENTITY_INSERT [dbo].[CART] ON 

INSERT [dbo].[CART] ([ID], [PHONE], [PRODUCTID], [AMOUNT]) VALUES (1, N'0347854123', 1, 1)
INSERT [dbo].[CART] ([ID], [PHONE], [PRODUCTID], [AMOUNT]) VALUES (2, N'0347854123', 4, 1)
INSERT [dbo].[CART] ([ID], [PHONE], [PRODUCTID], [AMOUNT]) VALUES (3, N'0347854123', 5, 1)
SET IDENTITY_INSERT [dbo].[CART] OFF
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([ID], [FNAME], [LNAME], [BIRTHDAY], [GEN], [ADDRESS], [PHONE], [PASSWORD]) VALUES (1, N'Lê Thị', N'Hồng', CAST(N'1992-07-03' AS Date), 0, N'97 Man Thiện', N'0347854123', N'81dc9bdb52d04dc20036dbd8313ed055')
INSERT [dbo].[CUSTOMER] ([ID], [FNAME], [LNAME], [BIRTHDAY], [GEN], [ADDRESS], [PHONE], [PASSWORD]) VALUES (2, N'Vũ', N'Tuấn', CAST(N'1994-09-19' AS Date), 1, N'90 Lê Lai', N'0942514522', N'123')
INSERT [dbo].[CUSTOMER] ([ID], [FNAME], [LNAME], [BIRTHDAY], [GEN], [ADDRESS], [PHONE], [PASSWORD]) VALUES (3, N'Lý Thị', N'Nữ', CAST(N'1995-07-12' AS Date), 0, N'1 Lê Lợi', N'0123456789', N'1234')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
INSERT [dbo].[DEPART] ([ID], [NAME]) VALUES (N'EG    ', N'Engineering')
INSERT [dbo].[DEPART] ([ID], [NAME]) VALUES (N'MN    ', N'Manager')
INSERT [dbo].[DEPART] ([ID], [NAME]) VALUES (N'SL    ', N'Sale')
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([ID], [NAME], [IMAGE], [DESCRIPTION], [PRICE], [INVENTORYNUM], [BRANDID]) VALUES (1, N'Iphone 6', N'1.jpg', N'Mô tả ở đây', 2000000.0000, 30, N'AP    ')
INSERT [dbo].[PRODUCT] ([ID], [NAME], [IMAGE], [DESCRIPTION], [PRICE], [INVENTORYNUM], [BRANDID]) VALUES (4, N'Iphone 7', N'211210214609-19.webp', N'Mo ta ip7', 4000000.0000, 16, N'AP    ')
INSERT [dbo].[PRODUCT] ([ID], [NAME], [IMAGE], [DESCRIPTION], [PRICE], [INVENTORYNUM], [BRANDID]) VALUES (5, N'Iphone 7 Plus CH', N'211211052807-20.webp', N'mo ta ip7+ nek', 4500000.0000, 30, N'AP    ')
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
SET IDENTITY_INSERT [dbo].[SALE] ON 

INSERT [dbo].[SALE] ([ID], [PRODUCTID], [DOWNPERCENT]) VALUES (1, 1, 10)
INSERT [dbo].[SALE] ([ID], [PRODUCTID], [DOWNPERCENT]) VALUES (2, 4, 5)
INSERT [dbo].[SALE] ([ID], [PRODUCTID], [DOWNPERCENT]) VALUES (4, 7, 7)
SET IDENTITY_INSERT [dbo].[SALE] OFF
SET IDENTITY_INSERT [dbo].[STAFF] ON 

INSERT [dbo].[STAFF] ([ID], [FNAME], [LNAME], [BIRTHDAY], [GEN], [ADDRESS], [PHONE], [PASSWORD], [DEPARTID]) VALUES (1, N'Trần', N'Thịnh', CAST(N'1994-02-01' AS Date), 1, N'5 Mê Linh', N'0123456788', N'81dc9bdb52d04dc20036dbd8313ed055', N'SL    ')
INSERT [dbo].[STAFF] ([ID], [FNAME], [LNAME], [BIRTHDAY], [GEN], [ADDRESS], [PHONE], [PASSWORD], [DEPARTID]) VALUES (2, N'Võ Nguyệt', N'Nga', CAST(N'1994-07-03' AS Date), 0, N'76 Vận Thành', N'0123456789', N'81dc9bdb52d04dc20036dbd8313ed055', N'SL    ')
SET IDENTITY_INSERT [dbo].[STAFF] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_BRANCH_NAME]    Script Date: 13/12/2021 9:10:22 PM ******/
ALTER TABLE [dbo].[BRAND] ADD  CONSTRAINT [IX_BRANCH_NAME] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CUSTOMER_PHONE]    Script Date: 13/12/2021 9:10:22 PM ******/
ALTER TABLE [dbo].[CUSTOMER] ADD  CONSTRAINT [IX_CUSTOMER_PHONE] UNIQUE NONCLUSTERED 
(
	[PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Depart_NAME]    Script Date: 13/12/2021 9:10:22 PM ******/
ALTER TABLE [dbo].[DEPART] ADD  CONSTRAINT [IX_Depart_NAME] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PRODUCT_NAME]    Script Date: 13/12/2021 9:10:22 PM ******/
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [IX_PRODUCT_NAME] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SALE_PRODUCTID]    Script Date: 13/12/2021 9:10:22 PM ******/
ALTER TABLE [dbo].[SALE] ADD  CONSTRAINT [IX_SALE_PRODUCTID] UNIQUE NONCLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_STAFF_PHONE]    Script Date: 13/12/2021 9:10:22 PM ******/
ALTER TABLE [dbo].[STAFF] ADD  CONSTRAINT [IX_STAFF_PHONE] UNIQUE NONCLUSTERED 
(
	[PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_CUSTOMER] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_CUSTOMER]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_STAFF]
GO
ALTER TABLE [dbo].[BILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILLDETAIL_BILL] FOREIGN KEY([BILLID])
REFERENCES [dbo].[BILL] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BILLDETAIL] CHECK CONSTRAINT [FK_BILLDETAIL_BILL]
GO
ALTER TABLE [dbo].[BILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILLDETAIL_PRODUCT] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BILLDETAIL] CHECK CONSTRAINT [FK_BILLDETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_PRODUCT] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_BRAND] FOREIGN KEY([BRANDID])
REFERENCES [dbo].[BRAND] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_BRAND]
GO
ALTER TABLE [dbo].[SALE]  WITH CHECK ADD  CONSTRAINT [FK_SALE_PRODUCT] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALE] CHECK CONSTRAINT [FK_SALE_PRODUCT]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_DEPART] FOREIGN KEY([DEPARTID])
REFERENCES [dbo].[DEPART] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_DEPART]
GO
USE [master]
GO
